<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
         {{>header}}
         <p>This website was for learnig purpose, Using mapbox third party library</p>
    <img class="portrait" src="/img/varun.jpeg" />
    </div>
   {{>footer}}
</body>
</html>